footer {
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 100% !important;
    color: white;
}

@media (max-width: 575.98px) {
    footer {
        background-color: #004b93;
    }
    .fab, .fas {
        color: white;
        margin-right: 2.5px;

    }
    footer a {
        color: white;
        text-decoration: none;
        text-decoration-line: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    footer {
        background-color: #004b93;
    }
    .fab, .fas {
        color: white;
        margin-right: 2.5px;

    }
    footer a {
        color: white;
        text-decoration: none;
        text-decoration-line: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    footer {
        background-color: #004b93;
    }
    .fab, .fas {
        color: white;
        margin-right: 2.5px;

    }
    footer a {
        color: white;
        text-decoration: none;
        text-decoration-line: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    footer {
        background-color: #004b93;
    }
    .fab, .fas {
        color: white;
        margin-right: 2.5px;

    }
    footer a {
        color: white;
        text-decoration: none;
        text-decoration-line: none;
    }
}

@media (min-width: 1200px) {
    footer {
        background-color: #004b93;
    }
    .fab, .fas {
        color: white;
        margin-right: 2.5px;

    }
    footer a {
        color: white;
        text-decoration: none;
        text-decoration-line: none;
    }
}